.clients {
    margin: 8px;
    display: grid;
    grid-gap: 10px;    
}

.clients>.MuiAutocomplete-root {
    width: 30%;
    justify-self: center;
}

table {
    width: 90%;
    display: grid;
    justify-self: center;
}

th {
    background-color: #F7CE3E;
    font-weight: bold;
}