.logo {
  height: auto;
  width: 400px;
}

#navbar {
  background-color: #0a1612;
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  align-items: center;
  color: white;
  
  margin-bottom: 30px
}

#navbar a {
  color: white;
  text-decoration: none;
}