body {
  margin: 0;
  font-family: 'Montserrat', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
  background-image: url('/background.jpg');
  background-size: cover;
}

.background {

  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
