.actions {
    display: grid;
    grid-template-areas: '. update .' '. add .';
}

.update {
    grid-area: update;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    padding: 20px;
    margin: 20px;
}

.update>.select-list {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'list button';
    justify-content: center;
    align-items: center;
    width: 40%;
}

.select-list>.MuiFormControl-root {
    grid-area: list;
    width: 200px;
}

.select-list>button {
    grid-area: button;
    width: 100px;
    height: 40px;
}

.update>.labeled-button {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'label button';
    justify-content: center;
    align-items: center;
    width: 40%;
}

.labeled-button>label {
    grid-area: label;
    width: 200px;
}

.labeled-button>button {
    grid-area: button;
    width: 100px;
    height: 40px
}

.update>.datalist-input {
    display: grid;
    width: 30%;
}

.add-client {
    grid-area: add;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
    margin: 20px;
}

.add-client>.datalist-input {
    display: grid;
    width: 30%;
}

.add-client>.input {
    display: grid;
    width: 30%;
    
}